# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/
/.idea

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Builds
release

# Bundle files
track.txt


# Environment variables
ORS/appsettings.json